body, *, html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.anything{
    animation: hide 1s ease-in;
}

.show{
    animation: show 1s ease-in;
}

@keyframes hide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.news-section {
    /*height: 100vh;*/
}

.picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .7s ease;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.transformed {
    color: black;
    opacity: 1;
}
.transformed-up {
    color: #121012;
}

.title-news{
    padding: 10px;
    text-align: left;
}

.title-body-news {
    padding: 20px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    pointer-events: none;
    text-transform: uppercase;
    text-align: left;
    height: fit-content;
    overflow: hidden;
}


.body-news {
    bottom: 0;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    pointer-events: none;
    text-align: right;
}

.body-news-left {
    bottom: 0;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    pointer-events: none;
    text-align: left;
}

.picture-container {
    height: 450px;
    overflow: hidden;
}

.transformed-image {
    filter: grayscale(50%);
}


.event-items {
    flex-grow: 3;
}

.event-title {
    flex-grow: 1;
}

.descriptions{
    width: 700px;
}

.bg-default {
    background: #e3e3e3;
}

.bg-news {
    background: #f1f1f1;
}

.red-text-color {
    color: #A94C2E;
}

.grey-text-color {
    color: #121012;
}

.big-text {
    font-size: 11vw;
    font-weight: bold;
    padding-bottom: 5vh;
}

.secondary-text-color {
    color: #D99E90;
}

.secondary-bg-color {
    background: #D99E90;
}

.blue-color {
    color: #5A8B9A;
}

.blue-bg-color {
    background: #5A8B9A;
}

.syne {
    font-family: 'Syne', sans-serif;
}

.dm-sans{
    font-family: 'DM Sans', sans-serif;
}

.title-news-right    {
    text-align: right;
}

.events-container {
    opacity: 0;
    transform: translateY(100px);
}

.events-float-up {
    transition: transform 0.7s ease-in-out;
    transform: translateY(0px);
    opacity: 1;
}

.hamburger:hover .bar-top {
    margin-bottom: -12px;
    transform: rotate(50%);
    transition: margin-bottom 200ms ease-in-out;
}

.hamburger .bar-top {
    transition: margin-bottom 200ms ease-in-out;
}


@media screen and (max-width: 1472px) {
    .ruref-text {
        font-size: 11vw;
    }
}

@media screen and (max-width: 1272px) {
    .ruref-text {
        font-size: 10vw;
    }

}

@media screen and (max-width: 972px) {
    .ruref-text {
        font-size: 9vw;
    }

}@media screen and (max-width: 772px) {
    .ruref-text {
        font-size: 8vw;
    }

}

.navbar {
    left: 50%;
    transform: translateX(-50%);
}

.news-section {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: #0e1217;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    text-align: center;
    color: white;
}

.color-purple {
    color: #ce3df3;
}


