body, *, html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.hidden{
    animation: hide 1s ease-in;
}

.show{
    animation: show 1s ease-in;
}

@keyframes hide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}


@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

.news-section {
    height: 100vh;
}

.picture {
    height: 450px;
    width: auto;
    cursor: pointer;
}

.picture:hover {
    filter: brightness(40%);
}

.picture-container {
    position: relative;
    display: inline-block;
}


.picture-container:hover .title-news {
    display: block;
}

.title-news {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 5px;
    font-size: 40px;
    font-weight: bold;
    pointer-events: none    ;
}